:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

*{
    margin: auto;
    padding: 10px;
    cursor: crosshair;
    background-color: bisque;
}

button:hover{
  transition: all 500ms;
  color: white;
  cursor: grab;
}



#img {
    cursor: grab;
}

#image:hover{
  transition: all 500ms;
  font-size: 22px;
  color: white;
  cursor: grab;
}
  
.row {
    display: flex;
  }

  .crumns{
    margin-bottom: -20px;
  }

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.crumbs a{
    text-decoration: none;
    color: black;
}

.crumbs a:hover{
    transition: all 500ms;
    color: white;
    cursor: grab;
}

.column h2:hover {
  transition: all 500ms;
    font-size: 22px;
    color: white;
}
  
  .column {
    flex: 33.33%;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
  }

  .lorem {
    text-align: left;
  }

  .bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content{
    width: 300px;
    height: 500px;
    background-color: bisque;
    border-radius: 10px;
    text-align: center;
    position: relative;
  }

  .close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
  }
  form{
    display: flex;
    flex-direction: column;
  }


  @media only screen and (max-width: 750px){
    .row {
        display: block;
    }

    .newp>.row{
            display: flex;
          }
    .newp.column {
        flex: 33.33%;
        padding: 5px;
        text-align: center;
      }
        }
  