:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

*{
    margin: auto;
    padding: 10px;
    cursor: crosshair;
    background-color: bisque;
}

button {
    cursor: grab;
}

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
    text-align: center;
  }

  .lorem {
    text-align: left;
  }

  @media only screen and (max-width: 750px){
    .row {
        display: block;
    }

    .newp>.row{
            display: flex;
          }
    .newp.column {
        flex: 33.33%;
        padding: 5px;
        text-align: center;
      }
        }
  